{% extends 'base.html.twig' %}


{% block body %}



<div class="container">
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Marca</th>
      <th scope="col">Precio</th>
      <th scope="col">Fecha De Creacion</th>
      <th scope="col">Categoria</th>
        <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
  {% for listProduct in list %}
    <tr>
      <th scope="row">{{listProduct.id}}</th>
      <td>{{listProduct.code}}</td>
      <td>{{listProduct.name}}</td>
      <td>{{listProduct.description}}</td>
      <td>{{listProduct.brand}}</td>
      <td>{{listProduct.price}}</td>
        <td>{{listProduct.createdAt|date('Y-m-d')}}</td>
        <td>{{listProduct.category.name}}</td>
        <td>
            <a href="{{path('product_update', {'id': listProduct.id})}}" class="btn btn-primary">Editar</a>
            <a href="{{path('product_delete', {'id': listProduct.id})}}" class="btn btn-danger">Eliminar</a>
        </td>

    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
